default_language_version:
    python: python3

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.6
    hooks:
      - id: uv-lock
        description: "Make sure your uv.lock file is up to date."
  
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.3
    hooks:
      - id: ruff-check
        description: "Run Ruff as a linter."
        args: [ --fix ]
      - id: ruff-format
        description: "Run Ruff as a formatter."
  
  # spell checker
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
